<?xml version='1.0' encoding='utf-8'?>
<widget id="com.easyenglish.grammarbook" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EnglishAPK</name>
    <description>English grammar exam with 10,000 questions from A1 to C1.</description>
    <author href="https://jnfz92.github.io/">Juan Francisco Fernandez Herreros</author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="mailto:*" />
    <preference name="Fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xffffffff" />
    <platform name="android">
        <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
        <icon density="ldpi" src="res/android/icon-foreground.xml" foreground="res/android/icon-foreground.xml" background="res/android/icon-background.xml" monochrome="res/android/icon-monochrome.xml" />
        <icon density="mdpi" src="res/android/icon-foreground.xml" foreground="res/android/icon-foreground.xml" background="res/android/icon-background.xml" monochrome="res/android/icon-monochrome.xml" />
        <icon density="hdpi" src="res/android/icon-foreground.xml" foreground="res/android/icon-foreground.xml" background="res/android/icon-background.xml" monochrome="res/android/icon-monochrome.xml" />
        <icon density="xhdpi" src="res/android/icon-foreground.xml" foreground="res/android/icon-foreground.xml" background="res/android/icon-background.xml" monochrome="res/android/icon-monochrome.xml" />
        <icon density="xxhdpi" src="res/android/icon-foreground.xml" foreground="res/android/icon-foreground.xml" background="res/android/icon-background.xml" monochrome="res/android/icon-monochrome.xml" />
        <icon density="xxxhdpi" src="res/android/icon-foreground.xml" foreground="res/android/icon-foreground.xml" background="res/android/icon-background.xml" monochrome="res/android/icon-monochrome.xml" />
    </platform>
</widget>
